@import "../theming/theming";
@import "list";

@mixin lgn-list-theme() {
  @include lgn-list-color();
}

@mixin lgn-list-color() {
  .lgn-list,
  ul {
    li::before {
      color: var(--nomen-color-primary);
    }

    li i {
      &.lgn-warn {
        color: var(--nomen-color-warn);
      }

      &.lgn-valid {
        color: var(--nomen-color-success);
      }
    }
  }
}
