@import "account_selection";

@mixin lgn-account-selection-theme() {
  @include lgn-account-selection-color();
}

@mixin lgn-account-selection-color() {
  .lgn-account-selection {
    display: flex;
    flex-direction: column;
    width: 100%;

    .lgn-account {
      color: inherit;
      background: transparent;
      box-shadow: inset 0 -1px var(--nomen-color-footer-line);

      &:hover {
        background-color: var(--nomen-color-account-selector-hover);
      }

      &:focus {
        background-color: var(--nomen-color-account-selector-active);
      }

      &:active {
        background-color: var(--nomen-color-account-selector-active);
      }

      .lgn-loginname {
        font-size: 14px;
        color: var(--nomen-color-label);
      }

      .lgn-session-state {
        color: var(--nomen-color-label);

        &.i0 {
          color: var(--nomen-color-state-success-font);
          background: var(--nomen-color-state-success-background);
        }

        &.i1 {
          color: var(--nomen-color-state-warn-font);
          background: var(--nomen-color-state-warn-background);
        }
      }
    }
  }
}
